
*@font-face {
  font-family: ; 
  src: url('../fonts/lsansiuni.ttf'); 
}

*{
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.wrapper{
   width: 1000px;
  height: 1305px;
  border: 1px solid black;
}

.top-menu{
  margin: 15px 0 10px 45px;
}

.top-menu-left{
  display: inline-block;
}

.iconphone{
  float: left;
  width: 28px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 0 ; 
}

.phone{
  font-size: 16px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
  color:rgb(121,135,141);
}

.top-menu-central{
  background-color: blue;
  display: inline-block;
}

.login{
  display: inline-block;
  padding: 5px 10px;
  height: 20px;
  border-radius: 5px;
}

.login1, .login2, .login3{
display: inline-block;
}

.top-menu-right{
  display: inline-block;
}

.contacts{
  /*width: 25px;
  height: 25px;*/
  background: url('../img/sprite.png') no-repeat;
  background-position: -35px 0;
}

.iconman{
  float: left;
  width: 25px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -27px 0 ; 
}


.main-picture{ 
  width: 910px;
  height: 235px;
  margin:5px 45px;
}

.menu-header{
  background-color: rgb(42, 46, 50);
  margin:5px 45px;
  text-align: right;
  padding: 0 20px 5px 0;
}

.menu-header li {
  display: inline-block;
}


.menu-header a{
  display: block;
  font-size: 14px;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;
  text-decoration: none;
  color:#ffffff;
}

.menu-first {
   padding: 0 10px;
}

.iconkoshyk{
  padding: 0 7px 0 0;
}

.koshyk{
padding: 0 10px 0 0;
}

.menu-first :hover{
  background-color: rgb(12,50,86);
  border-radius: 20px;
}

.iconkoshyk{
  float: left;
  width: 15px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -115 0 ; 
}


.container-main-screen{
  overflow: hidden;
  position: relative;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;

}

.left-container{
  margin-left: 45px;
  width: 190px;
  float: left;
  padding-top: 10px;
  color: rgb(12, 50, 86);
}

.title-h1, .title-h2{
  font-size: 13px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
}


.icon1{
  float: left;
  width: 23px;
  height: 24px;
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 -26 ; 
}

.icon2{
  float: left;
  width: 25px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -24 -25 ; 
}

.border-h1{
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.border-h2{
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
  margin-right: 40px;
}


.list1{
  margin-top: 3px;
  list-style-type: none;
}

.list1 a{
  text-decoration: none; 
  font-size: 14px;
  color: rgb(12, 50, 86);
}

.list1 >li >a: hover{
  font-style: italic;
  color: red;
} 

.icon3{
  width: 15px;
  height: 15px;
  float: left;
  background: url('../img/sprite.png') no-repeat;
  background-position: -50 -32 ; 
  margin-left: 30px;
}

.central-container{
  /*padding-top: 10px;*/
  height: 625px;
  width: 525px;
  background: linear-gradient(to bottom, rgb(228, 231, 232) , rgb(193,205,210));
  border: 1px solid black;  
 float: left;
}

.tire{
  display: inline-block;
  height: 170px;
  width: 170px;
  border-radius: 5px;
  text-align: center; 
  margin:10px 0;  
}

.imgbackground{
   height: 130px;
   width: 130px;
  background: #ffffff;
  padding: 2px 2px;
  border-radius: 5px; 
}

.tireimg{
   height: 120px;
}

.brand{
  color:rgb(32, 105,136);
  font-size: 14px;
}

.price{
  color: rgb(12,50,86);
  font-size: 16px;
  font-style: italic;
}

.right-container{
  margin-right: 35px;
  margin-left: 10px;
  padding-top: 10px;
  width: 190px;
  float: right;
  color: rgb(12, 50, 86);
}

.checkbox{
  margin-left: 20px;
  font-size: 13px;
  margin-bottom: 5px;
}

.picture-footer{
 width: 676px;
 margin:20px 0px 20px 160px; 
}

.footer{
  margin:5px 45px;
  background-color: rgb(33, 58, 77);
  height: 80px;
  text-align: center;
  font-family: 'Arial';
  font-weight: normal;
}

.menu-footer li {
  display: inline-block;
  margin: 13px 0;
}

.menu-footer a{
  text-decoration:none; 
  color: #ffffff;
  font-size: 12px;
  margin: 0 10px;
}

.border{
  border-right: 1px solid #ffffff;
}

.menu-footer a:hover{
  color: rgb(32,105,136);
}

.foot{
  color: rgb(127, 71, 64);
  font-size: 10px;
}


