
*@font-face {
  font-family: ; 
  src: url('../fonts/lsansiuni.ttf'); 
}

*{
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.wrapper{
   width: 1000px;
  height: 1305px;
  border: 1px solid black;
}

.main-picture{ 
  width: 910px;
  height: 235px;
  margin:5px 45px;
}

.menu-header{
  background-color: rgb(42, 46, 50);
  margin:5px 45px;
}

.menu-header li {
  display: inline-block;
}


.menu-header a{
  display: block;
  font-size: 14px;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;
  padding: 5px 15px;
}

.menu-first a{
  text-decoration: none;
  color:#ffffff;
}

.menu-first a:hover{
  background-color: rgb(21,76,111);
  border-radius: 20px;
}

.comtainer-main-screen{

}

.left-container{
  margin-left: 45px;
  width: 190px;
  float: left;
}

.title-h1{
  margin-left: 10px;
  font-size: 10px;
}

/*.title-h1: before {
  content: url('../img/sprite.png');
  justify-content: 10px;
}*/
.imglist1{
  /*display: block;*/
  width: 5px;
  height: 20px;
  background-position: 0 0 ; 
}
.list1{
  list-style-type: none;
}

.list1 a{
  display: block;
  text-decoration: none; 
  color: black;
  font-size: 12px;
  padding-left: 0px;
}

.central-container{
  height: 625px;
  margin: 0 auto;
  width: 525px;
  background-color: blue;
 float: left;
}

.right-container{
  margin-right: 45px;
  width: 190px;
  float: right;
}

.list2{
  list-style-type: none;

}

.list2 a{
  text-decoration: none; 
  color: black;
  font-size: 12px;
  padding-left: 0px;
}

.picture-footer{
 width: 676px;
 margin:20px 0px 20px 160px; 
}

.footer{
  margin:5px 45px;
  background-color: rgb(33, 58, 77);
  height: 80px;
  text-align: center;
  font-family: 'Arial';
  font-weight: normal;
}

.menu-footer li {
  display: inline-block;
  margin: 13px 0;
}

.menu-footer a{
  text-decoration:none; 
  color: #ffffff;
  font-size: 12px;
  margin: 0 10px;
}

.border{
  border-right: 1px solid #ffffff;
}

.menu-footer a:hover{
  color: rgb(32,105,136);
}

.foot{
  color: rgb(127, 71, 64);
  font-size: 10px;
}


