
*@font-face {
  font-family:lsansiuni; 
  src: url('../fonts/lsansiuni.ttf'); 
}

*{
  padding: 0;
  margin: 0 auto;
}

.wrapper{
   width: 1000px;
  height: 1305px;
  border: 1px solid black;
}

.top-menu{
  margin: 15px 0 10px 45px;
}

/*------------------TOP-MENU-LEFT----------------*/

.top-menu-left{
  display: inline-block;
  vertical-align: middle;
}

.iconphone{
  float: left;
  width: 28px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 0 ; 
}

.phone{
  font-size: 17px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
  color:rgb(121,135,141);
  letter-spacing: 1.1;
  padding-left: 6px;
}

/*-----------------TOP-MENU-CENTRAL----------------*/

.top-menu-central{
  background-color: rgb(33, 58, 77);
  display: inline-block;
  vertical-align: middle;
  margin: -5px 0 0 11px;
  border-radius: 5px;
}

.iconman{
  float: left;
  width: 25px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -27px 0 ; 
  margin: 0 -5px 0 -2px;
}

.input1{
width:113px;
padding-left: 5px;
}

.input2{
width:113px;
padding-left: 5px;
}

.login{
  display: inline-block;
  padding: 5px 10px;
  height: 20px;
  border-radius: 5px;
}

.enter, .registration{
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.registration{
  padding: 0 5px;
}

.enter{
  border-right: 1px solid #ffffff;
  padding: 0 5px 0 8px;
}

.forget-password{
  color:#ffffff;
  font-size: 12px;
  padding: 0 0 0 14px;
  letter-spacing: 1.1px;
}

/*------------------TOP-MENU-RIGHT---------------*/

.top-menu-right{
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.contacts{
  display: block;
  width: 60px;
  height: 13px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -47 4;
  border:1px solid rgb(121,135,141);
  border-radius: 10px;
  padding: 4px 6px 4px 5px;
  margin: -3px 0 0 -5px;
}

/*----------------MAIN-PICTURE---------------------*/

.main-picture{ 
  width: 910px;
  height: 237px;
  margin:-2px 45px 5px 45px;
}


/*-------------------MENU-HEADER------------------*/
.menu{
  background-color: rgb(42, 46, 50);
   margin:0 45px;
   /*text-align: right;*/
   /*padding: 0 20px;*/
   margin-bottom: 5px;
}

.menu-header{
  display: inline-block;
  margin-left: 139px;
}

.menu-header li {
  display: inline-block;
  height: 30px;
  padding-top: 2px;
}

.li1{
 margin-right: 10px; 
}

.li2{
 margin-right: 8px; 
}

.li3{
 margin-right: 7px; 
}

.li5{
 margin-right: 50px; 
}

.menu-header a{
  display: block;
  font-size: 14px;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;
  text-decoration: none;
  color:#ffffff;
  padding: 6px 10px;
}

.menu-header li :hover{
  background-color: rgb(12,50,86);
  border-radius: 20px;
}

/*-------------------------KOSHYK-------------------------*/


.koshyk-all{
  display: inline-block;
}

.koshyk{
  padding: 0 10px 0 5px;
  font-size: 12px;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}

.koshyk1:after{
  content: '0';
  color: rgb(33, 58, 77);
}

.koshyk2:after{
  content: '0.00 грн.';
  color: rgb(33, 58, 77);
}

.iconkoshyk{
  float: left;
  width: 25px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -115px 0 ; 
}

/*------MAIN-SCREEN-LEFT-SIDE-------------*/

.container-main-screen{
  overflow: hidden;
  position: relative;
  font-family: 'lsansiuni', 'Arial';
  font-weight: normal;
}

.left-container{
  height: 625px;
  margin-left: 45px;
  width: 190px;
  float: left;
  padding-top: 10px;
  color: rgb(12, 50, 86);
}

.title-h1, .title-h2{
  font-size: 13px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
}


.icon1{
  float: left;
  width: 23px;
  height: 24px;
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 -26px ; 
}

.icon2{
  float: left;
  width: 25px;
  height: 25px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -24px -25px ; 
}

.border-h1{
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
  margin-bottom: 14px;
  margin-right: 5px;
}

.border-h2{
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
  margin-right: 40px;
  padding-left: 3px
}


.list1{
  margin-top: 3px;
  list-style-type: none;
}

.list1 a{
  text-decoration: none; 
  font-size: 13px;
  color: rgb(12, 50, 86);
  letter-spacing: 0.1;
}

.list1 li :hover{
  font-style: italic;
  margin-left: 10px;
}

.icon3{
  width: 15px;
  height: 15px;
  float: left;
  background: url('../img/sprite.png') no-repeat;
  background-position: -50px -32px ; 
  margin-left: 30px;
}

.left-li-1-1{
  margin:0 0 10px 0;
}

.left-li-1-2, .left-li-1-3, .left-li-2-3, .left-li-2-1, .left-li-2-2{
  margin:0 0 8px 0;
}

.left-li-1-4, .left-li-2-4{
  margin:0 0 1px 0;
}


/* ---------MAIN-SCREEN-CENTRAL-PART-------------*/

.central-container{
  height: 615px;
  width: 525px;
  background: linear-gradient(to bottom, rgb(228, 231, 232) , rgb(193,205,210));
  border: 1px solid black;  
  float: left;
  margin-top: 10px;
  padding-top: 5px;
}

.tire{
  display: inline-block;
  height: 170px;
  width: 170px;
  border-radius: 5px;
  text-align: center; 
}

.imgbackground{
   height: 120px;
   width: 130px;
   background: #ffffff;
   padding: 2px 2px;
   border-radius: 5px; 
}

.img1{
  margin: 5px 0 26px 5px;
}

.img2, .img3{
  margin: 5px 0 26px -5px;
}

.img4{
  margin: 5px 0 25px 5px;
}

.img5, .img6{
  margin: 5px 0 25px -5px;
}

.img7{
  margin: 10px 0 10px 5px;
}

.img8, .img9{
  margin: 10px 0 10px -5px;
}

.tireimg{
   height: 120px;
}

.brand{
   color:rgb(32, 105,136);
   font-size: 14px;
}

.description{
  font-size: 14px;
}

.price{
   color: rgb(12,50,86);
   font-size: 16px;
   font-style: italic;
   margin-top: 5px;
   margin-left: 10px;
}



/*------------MAIN-SCREEN-RIGHT-PART--------------*/

.right-container{
   height: 625px;
   margin-right: 40px;
   padding-top: 8px;
   width: 190px;
   float: right;
   color: rgb(12, 50, 86);
}

.border-h2-tire{
  margin: 0 45px 0 15px;
  padding: 3px 0 0 3px;
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
}

.border-h2-disks{
  margin: 0 45px 10px 15px;
  padding: 3px 0 0 3px;
  border: 1px solid rgb(121,135,141);
  border-radius: 10px;
}

.list1-checkbox{
  margin: 5px 0 0 10px;
  list-style-type: none;
}

.list1-checkbox li{
  margin: 0 0 0 -5px;
}

.checkbox{
   margin-left: 20px;
   font-size: 13px;
   letter-spacing: 0.9;
}

.checkbox1-1, .checkbox1-2{
   margin-bottom: 10px;
}

.checkbox1-3{
   margin-bottom: 13px;
}

.submit{
  color: white;
  background: rgb(33, 58, 77);
  padding: 5px 15px 5px 17px;
  border-radius: 15px;
  margin:5px 0 0 10px;
}

    /*---------FOOTER LOGO--------------*/
.logo-footer{
   margin: 35px auto 15px auto;
}

.logo1{
   margin-left: 160px;
   display: inline-block;
   height: 40px;
   width: 90px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: 0 0; 
}

.logo2{
   display: inline-block;
   height: 40px;
   width: 115px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -90px 0; 
}

.logo3{
   display: inline-block;
   height: 40px;
   width: 80px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -205px 0; 
   margin-left: -5px;
}

.logo4{
   display: inline-block;
   height: 40px;
   width: 70px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -290px 0; 
}

.logo5{
   display: inline-block;
   height: 40px;
   width: 90px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -360px 0;
   margin-left: -2px; 
}

.logo6{
   display: inline-block;
   height: 40px;
   width: 75px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -450px 0; 
   margin-left: -4px;
}

.logo7{
   display: inline-block;
   height: 40px;
   width: 70px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -525px 0; 
   margin-left: -5px;
}

.logo8{
   display: inline-block;
   height: 40px;
   width: 90px;
   background: url('../img/footerlogo.png') no-repeat;
   background-position: -595px 0; 
    margin-left: -5px;
}

    /*---------FOOTER--------------*/

.footer{
   margin:-5px 45px 0 45px;
   background-color: rgb(33, 58, 77);
   height: 100px;
   text-align: center;
   font-family: 'Arial';
   font-weight: normal;
}  

.menu-footer li {
  display: inline-block;
  margin: 13px 0;
  padding: 0 1px 0 0;
}

.menu-footer a{
  text-decoration:none; 
  color: #ffffff;
  font-size: 12px;
  margin: 0 10px;
}

.border{
  border-right: 1px solid #ffffff;
}

.menu-footer a:hover{
  color: rgb(32,105,136);
}

.foot{
  color: rgb(127, 71, 64);
  font-size: 10px;
}


