
@font-face {
  font-family: Tahoma; 
  src: url('../fonts/Tahoma.ttf'); 
}

*{
  padding: 0;
  margin: 0;
}

.wrapper1{
   width: 1210px;
  height: 1025px;
  background:url('../img/background.png');
  background-repeat: no-repeat;
  border: 1px solid black;
  margin: 0 auto;
}

.menu-header{
  background-color: rgb(7,82,145);
  text-align:right;
  padding-right: 15px;
}

.menu-header li {
  display: inline-block;
}

/*.menu-header .ola{
  display: inline-block;
}*/

.menu-header a{
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: 'Tahoma', 'Arial';
  font-weight: normal;
  padding: 13px 10px;
}

.menu-first a{
  text-decoration: none;
  color: rgb(83,164,221);
}

.menu-first a:hover{
  color:#ffffff;
  background-color: rgb(83,164,221);
}

.minhas {
  border-left: 1px solid rgb(83,164,221);
}

.minhas>a{
  color: #ffffff;
  text-decoration: none; 
}

.flag{
height: 14px;
}
span{
  padding-left: 5px;
}
.ola{
  display: block;
  background-color: rgb(83,164,221);
  color: #ffffff;
}


.ola>a{
  display: inline-block;
  color: #ffffff;
  background-color: rgb(83,164,221);
  margin: 0 5px;
}

.main-screen-wrapper{
  position:relative;
}

.main-screen{
  z-index: 1;
  text-align: center;
  width: 550px;
  height: 550px;
  background: rgba(0, 0, 0, 0.63);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 50%;*/
  margin: 18% 0 0 -18%;
  font-family: 'Tahoma', 'Arial';
  font-weight: normal;
}

.cadastre {
  position: relative;
  display: block;
  margin: 15px auto;
  font-size: 24px;
  color: #ffffff;
}

.facebook{
  text-align: left;
  position: relative;
  display: table;
  width: 274px;
  margin: 15px auto;
  background:rgb(59,84,147); 
  color: #ffffff;
  border:none;
  cursor:pointer;
}

.flogo{
    padding: 5px 15px;
    display: table-cell;
    float: left;
    padding-top: 5px;
    font-size: 24px;
    border-right: 1px solid #ffffff;
}

.flogin{
	display: table-cell;
    float: left;
    vertical-align: middle;
    padding: 11px 30px 10px 15px;
    font-size: 14px;
}
.flogin1 {
    padding-left: 5px;
    padding-top: 11px;
    display: table-cell;
    float: left
}

.line {
  position: relative;
  overflow:hidden; 
  color:#ffffff;
  height: 20px;
}

.line1,
.line3{
  display:inline-block;
  vertical-align: middle;
}

.line2{
  display:inline-block;
  margin:0 10px;
  color: #ffffff;
  font-size: 14px;
}

form{
  position: relative;
  margin-top: 20px;
}

.form{
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 14px;
  background: rgb(15,15,15);
  width: 276px;
  height: 30px;
  margin: 10px auto;
  border: black;
  padding-left: 10px;
}

.form:focus,
.form:hover{
background-color: rgb(27, 82, 136);
}

.checkbox{
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
  left: -50px;
}

.createaccount{
  position: relative;
  display: block;
  height: 35px;
  width: 150px;
  margin: 15px auto;
  background:rgb(83,164,221); 
  color: #ffffff;
  font-size: 14px;
  border:none;
  cursor:pointer;
}

.bottom{
  display: block;
  color: #ffffff;
  font-size: 11px;
  margin: 5px auto;

}
