
*{
	margin: 0;
	padding: 0;
}

.wrapper{
   width: 1210px;
  height: 1025px;
  margin:0 auto;
  background:url('../img/background.png');
  background-repeat: no-repeat;
  border: 1px solid black;
  position: relative;
}

.menu-header{
background-color: rgb(7,82,145);
height: 30px;
}

.menu-header li{
  display: inline-block;
}

.menu-header a{
  color: rgb(83,164,221);
  padding: 10px 35px;
  font-size: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  text-align: right;
}

.menu-header a:hover{
  color:#ffffff;
}

.main-screen{
  z-index: 1;
  margin:0 auto;
  width: 500px;
  height: 500px;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
  
}