
*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 800px;
	margin:0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.menu-top{
width: 100%;
margin-top: 40px;
margin-bottom: 40px;
list-style-type: none;
background-color: grey;
}

.menu-top li{
display: inline-block;
} 

.menu-top a {
  color: #ffffff;
  padding: 10px 35px;
  text-decoration: none;
  font-weight: thin;
  font-size: 15px;
  font-family: 'Myriad Pro';
  display: block;
 }

 .menu-top a:hover{
 	background-color: black;
}

.content{
	position: relative;
	overflow: hidden;
}

.left-side-menu{
	width: 200px;
	float: left;
	list-style-type: none;
}

.left-side-menu a {
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  font-weight: thin;
  font-size: 15px;
  font-family: 'Myriad Pro';
  display: block;
  border: 1px solid black;
 }

 .left-side-menu a:hover{
 	padding-left: 50px;
}

.right-side{
	width: 550px;
	float: right;
}

.bycicle{
	border: 1px solid black;
	margin-bottom: 40px;
	width: 545px;

}

.menu-bottom{
width: 100%;
margin-top: 40px;
margin-bottom: 40px;
list-style-type: none;
background-color: rgb(225, 225, 225);
} 

.menu-bottom li{
display: inline-block;
} 

.menu-bottom a {
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  font-weight: thin;
  font-size: 15px;
  font-family: 'Myriad Pro';
  display: block;
 }

 .menu-bottom a:hover{
 	text-decoration: underline;
}