

/*@media only screen and (max-width:320px){ */

  
@font-face {
  font-family: Gothic; 
  src: url('../fonts/LGothic.otf'); 
}

@font-face {
  font-family: OpenSans; 
  src: url('../fonts/OpenSans-Light.ttf'); 
}

*{
  margin: 0;
  padding: 0;
}

/****************SECTION 1*************************/

.header{
	height: 515px;
	background: url('../img/bg1.png') no-repeat center top;
	border: 1px solid black;
	text-align: center;	
}

.header-logo{
	font-size: 48px;
	font-family: 'Gothic', 'Arial';
	color:white;
	margin-top: 60px;
}

.header-logo1{
	text-decoration: none;
}

.ER{
  color: rgb(116, 80, 131);
}

.header-horisontal-menu{
  display: none;
}


.menu-header-320-p{
	width:50px;
	font-size: 24px;
	font-family: 'Gothic', 'Arial';
	color:white;
	margin: 25px auto;
	border-bottom: 1px solid rgb(237, 191, 255);
}

.iphone{
  display: none;
}

.menu-header-vertical-menu{
  display: none;
}

.menu-header-320-a{
	text-decoration: none;
}

/*.lorem-full{
float: left;
  width: 30px;
  height: 40px;
  background: url('../img/sprite2.png') no-repeat;
  background-position: 0 0 ;
}*/

.lorem-1{
  margin: 120px 0 0 -10px ;
  font-family: 'Gothic', 'Arial';
  color:white;
  font-size: 36px;
}

.lorem-2{
  margin: -5px 0 0 5px ;
  font-family: 'Gothic', 'Arial';
  color:rgb(237, 191, 255);
  font-size: 18px;
}

.radio-buttons{
  text-align: center;
  width: 90px;
  height: 50px;
  background: url('../img/sprite2.png') no-repeat center;
  background-position: 0 -75px;
  margin:75px auto 0 auto;
}

/****************SECTION 2 ABOUT COMPANY*************************/
.layout-about-company{
  margin: 0 auto;
  width:320px;
}

.about-company{
 /* width:320px;*/
	height: 550px;
	border: 1px solid rgba(250, 250, 250, 0.1);
  background: linear-gradient(to top, rgb(51, 37, 58), rgb(116, 80, 131));
  padding: 45px 0 0 0 ;
   margin: 0 auto;
}

.header2-1{
  margin: 22px 0 0 53px;	
  font-family: 'Gothic', 'Arial';
  font-size: 24px;
  color:white;
}

.header2{
  display: block;
	text-decoration: none;
}


.block{
  margin: 5px 0 0 30px;
  width: 320px;
}

.block2{
  margin-top: 35px;
}

.icon1{
  float: left;
  width: 30px;
  height: 30px;
  background: url('../img/sprite1.png') no-repeat;
  background-position: 0 0 ;
}

.text2{
  width:200px;
  font-size: 15px;
  font-weight: "100";
  color:white;
  margin:5px 0 0 53px;
  padding: 0 10px 0 0;
  font-family: 'OpenSans', 'Arial';
  display: block;
  height: 58px;
  overflow: hidden;
}

.readmore1{
  clear: both;	
  margin: 22px 0 0 210px;
  /*width: 320px;	*/
  font-family: 'Gothic', 'Arial';
  font-size: 18px;
  color:white;
}

.readmore{
  text-decoration: none;
}

/****************SECTION 3 Pingbuller photo*************************/
.section3{
  width: 320px;
  height: 400px;
  background: rgb(259, 259, 259);
  border: 1px solid rgba(250, 250, 250, 0.1);
  margin:0 auto;
  /*border: 1px solid black;*/
}

.background{
  background: rgb(250, 250,250);
  height: 270px;
  width: 255px;
  /*border: 1px solid black; */
  margin: 72px 0 0 45px;
}

.photo{
  float: left;	
  width: 50px;
  height: 65px;
  background: url('../img/photo.png') no-repeat ;
  margin:15px 0 0 -25px;
}

.header3-1{
  font-family: 'Gothic', 'Arial';
  font-size: 24px;
  margin: 0 0 0 35px;
  padding-top: 21px;
}

.header3-2-1{
  margin: 0 0 0 35px;	
  font-family: 'Gothic', 'Arial';
  font-size: 24px;
  color:rgb(237, 191, 255);
}

.header3-2{
  display: block;
  text-decoration: none;
  margin-top: -3px;
}

.text3{	
  font-size: 16px;
  font-weight: "100";
  color:black;
  margin:2px 0 0 37px;
  width: 180px;
  font-family: 'OpenSans', 'Arial';
  word-wrap: break-word;
  line-height: 1.5;
  height: 170px;
  display: block;
  overflow: hidden;
}

/****************SECTION 4 RECENT UPDATES************************/

.recent-update{
  width: 320px;
  height: 382px;
  background: rgb(259, 259, 259);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-bottom: 1px solid rba(259, 259, 259);
  margin: 0 auto;
}

.title{
  font-family: 'Gothic', 'Arial';
  font-size: 32px;
  font-weight: "100";
  color:black;
  padding: 0 0 0 22px;
  letter-spacing: 0.7;
  margin-top: 28px;
}

.block4-1{
  margin:0 0 0 15px;
  font-family: 'Gothic', 'Arial';
  font-size: 16px;
}

.block4-2{
  margin:2px 0 0 15px;
}

.block4-3{
  margin:0 0 0 15px;
}

.header4{
  display: block;
  text-decoration: none;
}

.header4-1{ 
  font-family: 'OpenSans', 'Arial';
  font-size: 16px;
  font-weight: 900;
  color:black;
  letter-spacing: 0;
}

.header4-1-1{
  margin: 10px 0 0 75px;
}

.header4-1-2{
  margin: 2px 0 0 75px;
}

.header4-1-3{
  margin: 3px 0 0 75px;
}

.text4{
  font-size: 16px;
  font-weight: "100";
  color:black;
  margin:0 0 0 55px;
  padding: 0 0 0 0;
  font-family: 'OpenSans', 'Arial';
}

.moreblogs1{
  clear: both;  
  margin: 0px 0 0 208px;
  width: 320px; 
  font-family: 'Gothic', 'Arial';
  font-size: 18px;
  color:black;
}

.moreblogs{
  text-decoration: none;
}

.icon4{
  float: left;
  width: 70px;
  height: 60px;
}

.icon4-1{
  background: url('../img/sprite.png') no-repeat;
  background-position: 5px 0 ;
}

.icon4-2{
  background: url('../img/sprite.png') no-repeat;
  background-position: 5px -68px ;
}

.icon4-3{
  background: url('../img/sprite.png') no-repeat;
  background-position: 5px -134px ;
}

/****************SECTION 5 LOGO*************************/
.logo-wrapper{
  height: 420px;
  background: rgb(249, 249, 249);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-bottom: 1px solid rba(259, 259, 259);
}

.logo{
  width: 320px;
  margin: 0 auto;
}

.logo1{
  background: url('../img/logo/logo1.png') no-repeat;
  margin: 50px 11px 0 65px;
  display: inline-block;
  height: 75px;
  width:75px;
}

.logo2{
  background: url('../img/logo/logo2.png') no-repeat;
  margin: 50px 11px 0 35px;
  display: inline-block;
  height: 75px;
  width:75px;
}

.logo3{
  background: url('../img/logo/logo3.png') no-repeat;
  margin: 50px 11px 0 70px;
  display: inline-block;
  height: 75px;
  width:75px;
}

.logo4{
  background: url('../img/logo/logo4.png') no-repeat;
  margin: 50px 11px 0 40px;
  display: inline-block;
  height: 75px;
  width:75px;
}

.logo5{
  background: url('../img/logo/logo5.png') no-repeat;
  margin: 50px 11px 0 40px;
  display: inline-block;
  height: 75px;
  width:75px;
}

.logo6{
  background: url('../img/logo/logo6.png') no-repeat;
  margin: 0 11px 20px 75px;
  display: inline-block;
  height: 75px;
  width:75px;
}

/****************SECTION 6 FOOTER*************************/
.footer-top{
display: none;
}

.footer-bottom{
  /*width: 2400px;*/
  height: 190px;
  background: rgb(249, 249, 249);
  border: 1px solid rgba(250, 250, 250, 0.1);
  background: url('../img/bg2.png') no-repeat;
}

.text6{
  font-size: 10px;
  color:white;
  text-align: center;
  margin-top: 42px;
  font-family: 'OpenSans', 'Arial';
  letter-spacing: 1.5;
}

.menu-footer{
  display: none;
}

.text-sign{
  color: white;
  text-align: center;
  margin-top: 45px;
  font-size: 10px;
}



