label {
    display: inline-block; width: 5em;
  }
  fieldset div {
    margin-bottom: 2em;
  }
  fieldset .help {
    display: inline-block;
  }
  /*.ui-tooltip {*/
    /*width: 210px;*/
  /*}*/

.span, .span1, .span2, .span3{
    visibility: hidden;
}

.over{
    visibility: visible;
}




