<!DOCTYPE html>
<html lang="en">
<head>
  <title>TEST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>

<div id="testWrapper">

</div>



<script type="text/template" id="myTest">
    <div class="render">
        <div class="testTitle">
             <h1 class="header"><%-header%></h1>
        </div>
        <div class="testQuestions">

            <% _.forEach (items, function (item){%>
            <div class="question"><%-item.title%>

                <% _.forEach (item.answers, function (answer){%>
                    <div class="answer" >
                         <input class="answ" type="checkbox"/> <%-answer%>
                    </div>

                <% });%>
        </div>
           <% });%>
        </div>
    </div>
</script>


 <script src="JS/14.js"></script>

</body>
</html>
