body{
  width:400px;
  margin:0 auto;
  background-color:rgba(158,158,158,0.24);
  text-align: center;
}
img{
  height:200px;
  margin-bottom: 20px;
}
li{
  margin-left: 0px;
  text-align: left;
}
p{
  text-align: left;
  margin-left: 25px;
}
h2{
  text-align: left;
}